/*-----------
RESET
-----------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/*-----------
LAYOUT
-----------*/
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

@media (min-width: 580px) {

}

@media (min-width: 900px) {

}

@media (min-width: 75rem) {
    .flexbox {
        display: flex;
    }
}